/* THIS FILE IS NOT CURRENTLY IN USE */


/*
 1,2,7,9,10,11
 <draw:color draw:name="Chart 1" draw:color="#004586"/>
 <draw:color draw:name="Chart 2" draw:color="#ff420e"/>
 <draw:color draw:name="Chart 3" draw:color="#ffd320"/>
 <draw:color draw:name="Chart 4" draw:color="#579d1c"/>
 <draw:color draw:name="Chart 5" draw:color="#7e0021"/>
 <draw:color draw:name="Chart 6" draw:color="#83caff"/>
 <draw:color draw:name="Chart 7" draw:color="#314004"/>
 <draw:color draw:name="Chart 8" draw:color="#aecf00"/>
 <draw:color draw:name="Chart 9" draw:color="#4b1f6f"/>
 <draw:color draw:name="Chart 10" draw:color="#ff950e"/>
 <draw:color draw:name="Chart 11" draw:color="#c5000b"/>
 <draw:color draw:name="Chart 12" draw:color="#0084d1"/>
*/


.c1 {
	background: #004586;
}
.c2 {
	background: #ff420e;
}
.c3 {
	background: #314004;
}
.c4 {
	background: #4b1f6f;
}
.c5 {
	background: #ff950e;
}
.c6 {
	background: #c5000b;
}


