body {
    font-family: arial, san-serif;
}

hr {
	color: #666;
	background-color: #060;
	height: 2px;
	border: 0;
}

#header, #footer {
    background-color: #dfd;
    height: 100%;
    overflow:hidden;
    padding: 2px 7px 2px 7px;
    border-top: thin solid #060;
    border-bottom: thin solid #060;
}

#header {
	margin-bottom: 5px;
	padding: 10px;
}

#header h1 {
	margin: 3px 0px 3px 0px;
    font-size: 20px;
}

#header span.about {
    font-size: normal;
    color: #060;
	font-weight: bold;
}

#footer {
	margin-top: 5px;
}

#login {
	font-size: smaller;
	border: thin solid #999;
	background: #eee;
	padding: 2px;
	float: right;
}

div.inputcomment {
	margin: 0;
	font-size: small;
	font-style: italic;
	color: #666;
}

.note {
	color: #060;
	font-size: small;
	font-style: italic;
}

fieldset {
	border: thin solid #060;
	margin: 10px 0px 10px 0px;
}

fieldset legend {
	border: thin solid #060;
	background:  #dfd;
	color: #060;
	font-weight: bold;
	font-size: smaller;
}


/*
  summary table
*/
table.summary {
	width: 100%;
	border: none; /* thin solid gray; */
	font-size: smaller;
	margin: 0px;
	padding: 0px;
}
table.summary th, table.summary td {
}
table.summary th {
	width: 10%;
	text-align: right;
	vertical-align: top;
	border-right: 2px solid #060;
}
table.summary th span {
	background: #dfd;
	display: block;
	width: 100%;
}
table.summary td {
	text-align: left;
	width: 90%;
}


div.error {
	margin: 20px 50px 20px 50px;
	border: thin solid red;
	color: red;
	background: #fee;
	padding: 10px;
}

pre.monospace {
	font-family: courier new;
	color: #666;
}



ul.tab {
	color: #060;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
    vertical-align: middle;
}
ul.tab li {
	background: #dfd;
	border: thin solid #060;
	font-weight: bold;
	margin: 0px 5px 2px 0px;
    display: inline;
    font-size: 14px;
    padding: 1px 10px 1px 10px;
}
ul.tab li.selected {
	background: #060;
	color: white;
}
ul.tab li.loading {
}

div.tab {
	width: 100%;
	padding: 0px;
	margin: 0px;
}
