<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

 <head>
   <title>Genome Commons &gt; {{ pagetitle }}</title>
   <link href="/static/styles/glike.css" rel="stylesheet"
         type="text/css" />
 </head>

 <body>

   <div id="header">
	 <h1>Genome Commons &gt; {{ pagetitle }}</h1>
   </div>

   <div id="bodycontent">
	 {% block bodycontent %}(bodycontent){% endblock bodycontent %}
   </div>

   <div id="footer">
	 query path: {{ path }}
   </div>

 </body>

</html>
