{% extends "_base.html" %}

{% block about %}
Facilitates routine analysis of resequencing results
{% endblock about %}

{% block bodycontent %}

<!--
http://en.wikipedia.org/wiki/Unicode_Geometric_Shapes
&#9654; solid right
&#9698; solid lower right
&#9660; solid down
&#9655; empty right
&#9727; empty lower right
&#9661; empty down
-->


<fieldset class="query">
<legend>&#9660; Variant Query</legend>

<div class="note">
Enter a sequence variant below
using <a href="http://www.hgvs.org/mutnomen/">HGVS nomenclature for the
description of sequence variation</a>.
</div>

<form method="post">
<table class="query">
<tr>
  <td><u>Accession</u>
	<br/><input type="text" name="acc"/ {% if acc %}value="{{acc}}"{% endif %}>
	<br><div class="querycomment">nucleotide or protein accession<br/>e.g., NM_004006.2</div>
  </td>

  <td><u>Variant Spec</u>
	<br/><input type="text" name="varspec"/>
	<br><div class="querycomment">e.g., c.3G>T</div>
  </td>

  </tr>
</table>
<input type="submit"/>
</form>

</fieldset>

<div id='results'>
  <table class='results'>
	<tr> <td>gi</td> <td>{{gi}}</td> </tr>
	<tr> <td>id</td> <td>{{id}}</td> </tr>
	<tr> <td>name</td> <td>{{name}}</td> </tr>
	<tr> <td>description</td> <td>{{description}}</td> </tr>
  </table>
</div> <!-- id='results' -->

{% if record %}
<hr>
<pre>
{{record}}
</pre>
{% endif %}

{% endblock bodycontent %}
