{% extends "_base.html" %}
{% block bodycontent %}

<fieldset class="query">
<legend>Variant Query</legend>
<form method="post">
<table class="query">
<tr>
  <td><u>Accession</u>
	<br/><input type="text" name="acc"/>
	<br><div class="querycomment">e.g., NM_004006.2; nucleotide or protein accession</div>
  </td>

  <td><u>Variant Spec</u>
	<br/><input type="text" name="varspec"/>
	<br><div class="querycomment">e.g., c.3G>T</div>
  </td>
  </tr>
</table>
<input type="submit"/>
</form>

Note: variant specification must conform to HGVS guidelines. Please refer
to <a href="http://www.hgvs.org/mutnomen/">Nomenclature for the
description of sequence variation</a>.
</fieldset>

   {% block results %}(results){% endblock results %}

{% endblock bodycontent %}
