{% extends "_base.html" %}

{% block about %}
Facilitates routine analysis of resequencing results
{% endblock about %}

{% block bodycontent %}

<!--
http://en.wikipedia.org/wiki/Unicode_Geometric_Shapes
&#9654; solid right
&#9698; solid lower right
&#9660; solid down
&#9655; empty right
&#9727; empty lower right
&#9661; empty down
-->


<form method="post">
  Sequence variant: <input type="text" name="varspec" size=30 {% if varspec %}value="{{varspec}}"{% endif %}/>
  <input type="submit"/>
  <br><div class="inputcomment">
	use <a href="http://www.hgvs.org/mutnomen/">HGVS nomenclature for the
	  description of sequence variation</a>; e.g., NM_004006.2:c.3G>T</div>
</form>

{% if gi %}
  <hr>

  <script updateTab(i,u) {e
$.ajax({url: u,
		cache: false,
		success: function(c) { $("#content"+i).html(c); }
		})
  </script>		  

  <ul class="tab">
	<li name="tab_gene"    class="selected">gene</li>
	<li name="tab_protein"	>protein</li>
	<li name="tab_variants" >variants</li>
	<li name="tab_homology"	>homology</li>
	<li name="tab_networks"	>networks</li>
	<li name="tab_expression" >expression</li>
	<li name="tab_lit"    	>literature</li>
	<li name="tab_links"   	>links</li>
  </ul>

  <div class="content" name="content1">
	<table class='summary'>
	  <tr>	<th>Variant:</th>     <td>{{vs}}</td> </tr>
	  <tr>  <th>Accession:</th>   <td>{{vs.accession}} (gi: {{gi}})</td>    </tr>
	  <tr>  <th>Description:</th> <td>{{description}}</td>    </tr>
	</table>
  </div>

{% endif %}

{% endblock bodycontent %}
