{% extends "_base.html" %}

{% block about %}
Facilitates routine analysis of genomic variants
{% endblock about %}

{% block bodycontent %}

<!--
http://en.wikipedia.org/wiki/Unicode_Geometric_Shapes
&#9654; solid right
&#9698; solid lower right
&#9660; solid down
&#9655; empty right
&#9727; empty lower right
&#9661; empty down
-->


<form method="post">
  Sequence variant: <input type="text" name="varspec" size=30 {% if varspec %}value="{{varspec}}"{% endif %}/>
  <input type="submit"/>
  <br><div class="inputcomment">
	use <a href="http://www.hgvs.org/mutnomen/">HGVS nomenclature for the
	  description of sequence variation</a>; e.g., NM_004006.2:c.3G>T</div>
</form>

{% if varspec %}
  <hr>

  <script type="text/javascript">
	$(function() {
		$("#tabs").tabs({
			spinner: 'Retrieving data...', 
			ajaxOptions: {
				error: function(xhr, status, index, anchor) {
					$(anchor.hash).html("An error occured loading this tab. Sorry.");
				}
			}
		});
	});
  </script>

<div id="tabs">
  <ul>
	<li><a href="#summary-tab"      >summary</a></li>
	<li><a href="ajax/gene"         >gene</a></li>
	<li><a href="ajax/protein.html"	>protein</a></li>
	<li><a href="ajax/variants"     >variants</a></li>
	<li><a href="ajax/literature"   >literature</a></li>
	<li><a href="ajax/links"   	    >links</a></li>
	<li><a href="ajax/report"       >report</a></li>

	<li>|
	<li><a href="ajax/frame.html"	>reece</a></li>
	<li><a href="http://harts.net/reece">remote</a></li>
	<li><a href="ajax/error.html"	>error</a></li>
  </ul>
  <div id="summary-tab" class="tab">
	<table class="summary">
	  <tr><th>gene</th><td>info</td></tr>
	  <tr><th>gi</th><td>gi</td></tr>
	</table>
  </div>
</div>



{% endif %}

{% endblock bodycontent %}
