{% extends "_base.html" %}

{% block about %}
Facilitates routine analysis of genomic variants
{% endblock about %}

{% block bodycontent %}

<!--
http://en.wikipedia.org/wiki/Unicode_Geometric_Shapes
&#9654; solid right
&#9698; solid lower right
&#9660; solid down
&#9655; empty right
&#9727; empty lower right
&#9661; empty down
-->


<form method="get">
  Sequence variant: <input type="text" name="varspec" size=30 {% if varspec %}value="{{varspec}}"{% endif %}/>
  <input type="submit"/>
  <br><span class="inputcomment">
	use <a href="http://www.hgvs.org/mutnomen/" target="_blank">HGVS nomenclature for the
	  description of sequence variation</a>; e.g., NM_004006.2:c.3G>T</span>
</form>

{% if varspec %}
  <script type="text/javascript">
	$(function() {
		$("#tabs").tabs({
			fx: { opacity: 'toggle' },
    		show: function(event, ui) {
		        var tabID = "#ui-tabs-" + (ui.index + 1);
    			$(tabID).html('<div class="loading"><img src="/static/gfx/loading.gif"/><br><b>Loading. Please wait...</b></div>');
			},
			load: function(event,ui) {
				$("div.loading").remove();
			},
			ajaxOptions: {
				error: function(xhr, status, index, anchor) {
					$(anchor.hash).html("An error occured loading this tab. Sorry.");
				}
			}
		});
	});
  </script>

  <hr>
  Results for {{varspec}}
  <p/>
<div id="tabs">
  <ul>
	<li><a href="#summary-tab"                        >summary</a></li>
	<li><a href="ajax/gene?varspec={{varspec}}"       >gene</a></li>
	<li><a href="ajax/protein?varspec={{varspec}}"	  >protein</a></li>
	<li><a href="ajax/variants?varspec={{varspec}}"   >variants</a></li>
	<li><a href="ajax/literature?varspec={{varspec}}" >literature</a></li>
	<li><a href="ajax/links?varspec={{varspec}}"      >links</a></li>
	<li><a href="ajax/report?varspec={{varspec}}"     >report</a></li>
  </ul>
  <div id="summary-tab" class="tab">
	<table class="summary">
	  <tr><th>gene</th><td>{{gen.gene}}</td></tr>
	  <tr><th>description</th><td>{{gen.description}}</td></tr>
	  <tr><th>gi</th><td>{{gen.gi}}</td></tr>
	  <tr><th>ac</th><td>{{varspec.accession}}</td></tr>
	</table>
  </div>

</div>

{% endif %}

{% endblock bodycontent %}
