body {
    font-family: arial, san-serif;
}

div.querycomment {
	margin: 0;
	font-size: small;
	font-style: italic;
	color: #666;
}

fieldset.query {
	border: thin solid #36c;
	margin: 10px 20px 10px 20px;
}

fieldset.query legend {
	border-left: thin solid #36c;
	border-right: thin solid #36c;
	border-top: none;
	border-bottom: none;
	background: #dde;
}

table.query {
	border: none;
}


#header, #footer {
    background-color: #dde;
    height: 100%;
    overflow:hidden;
    padding: 7px;
    border-top: 1px solid #36c;
    border-bottom: 1px solid #36c;
}

#header {
	margin-bottom: 5px;
}

#footer {
	margin-top: 5px;
}

#header h1 {
    font-size: 20px;
    float: left;
    vertical-align: middle;
    margin: 0;
    padding: 0 0 0 .3em;
}

