body {
    font-family: arial, san-serif;
}

#header, #footer {
    background-color: #dfd;
    height: 100%;
    overflow:hidden;
    padding: 7px;
    border-top: thin solid #060;
    border-bottom: thin solid #060;
}

#header {
	margin-bottom: 5px;
	padding: 10px;
}

#header h1, #header h2 {
	margin: 3px 0px 3px 0px;
}

#header h1 {
    font-size: 20px;
}
#header h2 {
    font-size: 15px;
    color: #060;
}

#footer {
	margin-top: 5px;
}



div.querycomment {
	margin: 0;
	font-size: small;
	font-style: italic;
	color: #666;
}

.note {
	color: #060;
	font-size: small;
	font-style: italic;
}

fieldset.query {
	border: thin solid #060;
	margin: 10px 20px 10px 20px;
}

fieldset.query legend {
	border: thin solid #060;
	background:  #dfd;
}

table.query {
	border: none;
}
table.query td,table.query tr {
	vertical-align: top;
	padding: 5px;
}

div.error {
	margin: 20px 50px 20px 50px;
	border: thin solid red;
	color: red;
	background: #fee;
	padding: 10px;
}

pre.monospace {
	font-family: courier new;
	color: #666;
}

