body {
    font-family: arial, san-serif;
}

hr {
	color: #666;
	background-color: #060;
	height: 2px;
	border: 0;
}

#header, #footer {
    background-color: #dfd;
    height: 100%;
    overflow:hidden;
    padding: 7px;
    border-top: thin solid #060;
    border-bottom: thin solid #060;
}

#header {
	margin-bottom: 5px;
	padding: 10px;
}

#header h1 {
	margin: 3px 0px 3px 0px;
    font-size: 20px;
}

#header span.about {
    font-size: normal;
    color: #060;
	font-weight: bold;
}

#footer {
	margin-top: 5px;
}



div.querycomment {
	margin: 0;
	font-size: small;
	font-style: italic;
	color: #666;
}

.note {
	color: #060;
	font-size: small;
	font-style: italic;
}

fieldset.query {
	border: thin solid #060;
	margin: 10px 20px 10px 20px;
}

fieldset.query legend {
	border: thin solid #060;
	background:  #dfd;
	color: #060;
	font-weight: bold;
}

table.query, table.results {
	border: none;
	width: 100%;
	border-collapse: collapse;
}
table.query td,table.query tr {
	vertical-align: top;
	padding: 5px;
}

table.results tr td {
	border: thin solid #060;
	padding: 2px;
}
table.results tr>td:first-child {
	background: #dfd;
	text-align: right;
}

div.error {
	margin: 20px 50px 20px 50px;
	border: thin solid red;
	color: red;
	background: #fee;
	padding: 10px;
}

pre.monospace {
	font-family: courier new;
	color: #666;
}

