SUMMARY
<ul>
{% for o in va.omims %}
<li><a href="#{{o.mim_entry_mimnumber}}">{{o.mim_entry_title}} ({{o.mim_entry_mimnumber}})</a></li>
{% endfor %}
</ul>

<dl class="omim-entries">
{% for o in va.omims %}
<dt><a name="{{o.mim_entry_mimnumber}}"></a>{{o.mim_entry_title}} ({{o.mim_entry_mimnumber}})</dt>
<dd>
  <dl class="omim-entry">
	{% for tf in o.mim_entry_textfields %}
	<dt>{{tf.mim_text_label}}</dt>
	<dd>{{tf.mim_text_text}}</dd>
	{% endfor %}

	<dt>REFERENCES</dt>
	<dd>
	  <dl class="omim-references">
		{% for r in o.mim_entry_references %}
		<dt>{{r.mim_reference_number}}. {{r.mim_reference_citationtitle}} [<a href="http://www.ncbi.nlm.nih.gov/pubmed/{{ r.mim_reference_pubmeduid }}">PubMed</a>]</dt>
		<dd>
		  {{ r.mim_reference_journal }}, {{ r.mim_reference_volume }}:{{ r.mim_reference_pages.0.mim_page_from }}-{{ r.mim_reference_pages.0.mim_page_to }} ({{r.mim_reference_pubdate.mim_date.mim_date_year}}) 
		  <br>{% for a in r.mim_reference_authors %}
		  {{a.mim_author_name}}; 
		  {% endfor %}
		</dd>
		{% endfor %}
	  </dl>
	</dd>
	
  </dl>
</dd>

{% endfor %}
</dl>
