<table class="summary">
  <tr>
	<th>variant</th>
	<td>genomic: {{va.g_varspec}}
	  <br>cds: {{va.c_varspec}}
	  <br>protein: {{va.p_varspec}}
	</td>
  </tr>

  <tr>
	<th>gene</th>
	<td>{{va.gene.name}} -- {{va.gene.description}} [<a class="xlink" href="{{va.gene.url}}">Gene</a>]
	</td>
  </tr>

  <tr>
	<th>summary</th>
	<td>{{va.gene.summary}}
	</td>
  </tr>

  <tr>
	<th>species</th>
	<td>{{va.gene.species}}
	</td>
  </tr>

  <tr>
	<th>synonyms</th>
	<td>{{va.gene.synonyms|join:","}}
	</td>
  </tr>

  <tr>
	<th>NCBI Links</th>
	<td><a class="xlink" href="{{va.nuc.url}}" target="blank">{{va.nuc_ac}} (gi:{{va.nuc.id}})</a>
	</td>
  </tr>

</table>
